* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 12px;
	line-height: 20px;
    text-decoration: unset;
}

body {
	width: 100%;
	height: 100%;
	background: #e4ebf1;
	overflow-x: hidden;
	font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
}

/* 顶部导航 */

.nav {
	height: 52px;
	width: 100%;
	z-index: 101;
	background-color: #09121a;
	position: fixed;
}

.nav-content {
	height: 52px;
	padding: 0 16px;
	display: flex;
    align-items: center;
	justify-content: space-between;
}

.logo {
	width: 128px;
	height: 32px;
}

.avatar, .avatar svg {
	width: 28px;
	height: 28px;
}

/* 内容区 */

.container {
	width: 100%;
	margin-top: 84px;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.page {
	max-width: 968px;
	display: flex;
	flex-direction: column;
	padding: 0 32px 32px;
}

/* 内容区页头 */

.page-header {
	display: flex;
    flex-direction: row;
	align-items: center;
	gap: 20px;
	padding-bottom: 20px;
}

.page-header-intro {
    display: flex;
    flex-direction: column;
	gap: 8px;
}

.intro-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #1D2B3A;
}

.intro-desc {
	font-size: 12px;
	line-height: 20px;
	color: #778592;
}

.intro-actions {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.intro-actions-button a {
	font-size: 12px;
	line-height: 20px;
	color: #324558;
	margin-right: 12px;
	transition: all .3s ease-in-out;
}

.intro-actions-button a:hover {
	color: #15a675;
	text-decoration: underline;
	transition: all .3s ease-in-out;
}

.page-header-icon {
	width: 140px;
	height: 140px;
	opacity: .6;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header-icon svg {
	width: 140px;
	height: 140px;
}

/* 内容区banner */

.banner {
	display: flex;
    align-items: flex-start;
    gap: 8px;
	padding: 12px 16px;
	background-color: #d5dee7;
	border-radius: 0 4px 4px 0;
	border-left: 2px solid #324558;
}

.banner-text {
	display: flex;
    flex-direction: column;
    gap: 4px;
}

.banner-desc {
	font-size: 12px;
	line-height: 20px;
	color: #324558;
}

/* 内容区主体 */

.page-content {
	display: flex;
    flex-direction: column;
	gap: 12px;
}

.page-content-title {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #324558;
	margin: 24px 0 0 0;
}

.page-content-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 16px;
}

.card-item a {
	display: block;
	width: 100%;
	padding: 20px;
	border: 1px solid #F5F7FA;
    background: linear-gradient(180deg, #e4ebf1 0%, #F5F7FA 100%);
	box-shadow: 0px 1px 4px 0px rgba(2, 5, 8, 0.06), 0px 1px 1px 0px rgba(2, 5, 8, 0.02);
	border-radius: 4px;
	transition: all .3s ease-in-out;
}

.card-item a:hover {
	background-color: #fff;
	border-radius: 8px;
	transition: all .3s ease-in-out;
	box-shadow: 0px 6px 20px 0px rgba(2, 5, 8, 0.08), 0px 2px 8px 0px rgba(2, 5, 8, 0.04);
}

.card-main {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.card-order {
	width: 40px;
	height: 40px;
}

.card-intro {
	width: 100%;
	display: flex;
    flex-direction: column;
	gap: 4px;
	overflow: hidden;
}

.card-intro-title {
	font-weight: 500;
	color: #324558;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-intro-desc {
	color: #939EA9;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}